<h1>Products</h1>

<%= link_to "New product", new_product_path if user_signed_in? and current_user.is_admin %>


<div id="products">
  <% @products.each do |product| %>
    <div>
      <%= link_to product.name, product_path(product.id) %>

    </div>
  <% end %>
</div>
